//  ███╗   ██╗██╗██████╗ ██╗
//  ████╗  ██║██║██╔══██╗██║
//  ██╔██╗ ██║██║██████╔╝██║
//  ██║╚██╗██║██║██╔══██╗██║
//  ██║ ╚████║██║██║  ██║██║
//  ╚═╝  ╚═══╝╚═╝╚═╝  ╚═╝╚═╝
// ----------------------------------------------------- 

// ----------------------------------------------------- 
// Debug
// ----------------------------------------------------- 
include "conf/debug.kdl"

// ----------------------------------------------------- 
// Input
// ----------------------------------------------------- 
include "conf/input.kdl"

// ----------------------------------------------------- 
// Output
// ----------------------------------------------------- 
include "conf/output.kdl"

// ----------------------------------------------------- 
// Cursor
// ----------------------------------------------------- 
include "conf/cursor.kdl"

// ----------------------------------------------------- 
// Layout
// ----------------------------------------------------- 
include "conf/layout.kdl"

// ----------------------------------------------------- 
// Window Rules
// ----------------------------------------------------- 
include "conf/windowrules.kdl"

// ----------------------------------------------------- 
// Layer Rules
// ----------------------------------------------------- 
include "conf/layerrules.kdl"

// ----------------------------------------------------- 
// Environment
// ----------------------------------------------------- 
include "conf/environment.kdl"

// ----------------------------------------------------- 
// Animation
// ----------------------------------------------------- 
include "conf/animations.kdl"

// ----------------------------------------------------- 
// Autostart
// ----------------------------------------------------- 
include "conf/autostart.kdl"

// ----------------------------------------------------- 
// Keybindings
// ----------------------------------------------------- 
include "conf/keybindings.kdl"

// ----------------------------------------------------- 
// Miscellaneous
// ----------------------------------------------------- 
include "conf/misc.kdl"
