// ----------------------------------------------------- 
// Cursor
// ----------------------------------------------------- 

cursor {
    //xcursor-theme "Darkbolt-cursor"
    xcursor-size 23
    // xcursor-theme "breeze_cursors"
    // xcursor-theme "arstieonart"
    // xcursor-size 48
    hide-when-typing
    hide-after-inactive-ms 1000
}
